.otp-input{
    width: 2rem !important;
    display: inline !important;
}

.otp-button{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.otp-container{
    padding-top: 8%;
}
.small-otp-box{
    padding: 0.25rem !important;
    max-width: 581px !important;
}
.otp-btn{
    font-family: 'Nunito', sans-serif;
    font-size: initial;
    padding: 0.25rem;
    border-radius: 0.5rem;
    max-width: 581px;
    width: 100%;
    background-color: #007BFF;
    color: white;
}

.otp-btn:hover{
    background-color: #17477b;
}