.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.search-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('../images/bg2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(12px);
}

.searchInputs {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.input-box-search input[type="text"] {
  padding: 15px 20px;
  border: none;
  border-radius: 17px;
  font-size: 16px;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  position: absolute;
  right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

.searchIcon svg {
  font-size: 25px;
}

.dataResult {
  margin-top: 10px;
  width: 100%;
  max-width: 560px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

.dataItem {
  display: block;
  padding: 4px;
  color: #fff;
  text-decoration: none;
}

.dataItem:hover {
  background-color: rgba(234, 229, 229, 0.1);
  color: #AFEEEE
}

p {
  margin: 0;
}


@media (max-width: 600px) {
  .searchInputs {
    max-width: 100%;
  }
  
  .searchIcon {
    right: 0;
    top: 4px;
  }
}
