.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
}

.job-btn{
  margin-left: 5rem !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 9rem;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
}
.profile-btn{
  width: fit-content !important;
  align-self: center !important;
}
.btn {
  background-color: #B1D0E0;
  width: auto;
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.btn:hover{
  background-color: #1A374D;
    transition: 0.7s;
    color: #fff;
}

.error {
  color: red;
}


.profileModal{
  font-family: 'Nunito', sans-serif;
  font-size:initial;
  padding: 0.25rem;
  border-radius: 0.3rem;
  max-width: 100%;
  width: 62% !important;
  align-self: center !important;
}
.modal-profile{
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
