.chat-window{
    
    position: absolute;
    top: 10%;
    left: 70%;
    right: auto;
    bottom: auto;
  margin-right: -50%;
  width: 30%;
  height:50%;
  transition: width 2s,height 3s;
}
.chat-button{
    width: 44px;
    position:fixed;
    bottom: 2%;   
    right: 2%;
    border-radius: 70px;
}
